<div style="text-align: center; padding: 100px;">
    <% if(params.error){ %>
    <h1 style="font-size: 100px; margin-bottom: 10px;">
        Error
    </h1>
    <div><%- params.error %></div>
    <% }else{ %>

    <h1 style="font-size: 100px; margin-bottom: 10px;">
        404
    </h1>

    <div>Page not found</div>
    <% } %>

</div>
